VERIFF_API_URL=https://stationapi.veriff.com
VERIFF_API_KEY=
VERIFF_SHARED_SECRET=

GHOST_URL=https://the-mill.ghost.io
GHOST_ADMIN_API_KEY=
GHOST_NEWSLETTER_ID=
SEND_MAGIC_LINK=true

KV_REST_URL=
KV_REST_TOKEN=

APP_BASE_URL=
VERIFF_WEBHOOK_URL=

EMAIL_FROM=
EMAIL_PROVIDER_API_KEY=

ALLOWED_ORIGINS=*
AGE_MIN=16
AGE_MAX=25
MEMBERSHIP_MONTHS=12
PROGRAMME_LABEL=Postcode Lottery Programme
VERIFIED_LABEL=Verified 16-25
FUNDED_LABEL=Funded Membership
